@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Instrument+Serif:ital@0;1&family=Kalnia:wght@100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=WindSong:wght@400;500&display=swap');
@import 'tailwindcss';

@theme {
	--font-instrument: 'Instrument Serif', serif;
	--font-kalnia: 'Kalnia', serif;
	--font-bitcount: 'Bitcount Grid Double', system-ui;
	--font-libre: 'Libre Franklin', sans-serif;
	--font-windsong:  'WindSong', cursive
}
@import 'tailwindcss';
